<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>NHN EDU PYTHON CRAWLING</title>
    <link
      rel='stylesheet'
      href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'
    />
    <style>
      body { margin: auto; width: 1080px; } main { margin-top: 50px; }
    </style>
  </head>

  <body>
    <header>
      <div class='page-header'>
        <h1>NHN EDU PYTHON CRAWLING</h1>
      </div>
    </header>
    <main>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h3 class='panel-title'>학교 선택</h3>
        </div>
        <ul class='list-group'>
          {{#schools}}
            <li class='list-group-item'>
              <a href='/school/{{id}}'>{{name}}</a>
            </li>
          {{/schools}}
        </ul>
      </div>
    </main>
  </body>

</html>